TheMinx/Web References/wsTabAuth1/thirdPartyAuthenticate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.thirdparty.api.neo.tabcorp.com.au/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="thirdPartyAuthenticate" targetNamespace="http://service.thirdparty.api.neo.tabcorp.com.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.thirdparty.api.neo.tabcorp.com.au/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="authenticateAccount" type="tns:authenticateAccount" />
      <xs:element name="authenticateAccountResponse" type="tns:authenticateAccountResponse" />
      <xs:complexType name="authenticateAccount">
        <xs:sequence>
          <xs:element minOccurs="0" name="apiMeta" type="tns:apiMeta" />
          <xs:element minOccurs="0" name="authRequest" type="tns:thirdPartyCustomerAuthenticateRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="apiMeta">
        <xs:sequence>
          <xs:element minOccurs="0" name="deviceId" type="xs:long" />
          <xs:element name="jurisdictionId" type="xs:long" />
          <xs:element minOccurs="0" name="requestChannel" type="xs:long" />
          <xs:element minOccurs="0" name="usernamePasswordToken" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="thirdPartyCustomerAuthenticateRequest">
        <xs:sequence>
          <xs:element name="accountId" type="xs:long" />
          <xs:element minOccurs="0" name="accountPassword" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authenticateAccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:thirdPartyCustomerAuthenticateResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="thirdPartyCustomerAuthenticateResponse">
        <xs:sequence>
          <xs:element name="accountBalance" type="xs:double" />
          <xs:element name="accountId" type="xs:long" />
          <xs:element minOccurs="0" name="emailId" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="jurisdictionId" type="xs:long" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element name="tierCode" type="xs:int" />
          <xs:element minOccurs="0" name="usernamePasswordToken" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="APIException" type="tns:APIException" />
      <xs:complexType name="APIException">
        <xs:sequence>
          <xs:element name="messageDetail" nillable="true" type="xs:string" />
          <xs:element name="errorType" nillable="true" type="xs:string" />
          <xs:element name="messageMap" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="authenticateAccount">
    <wsdl:part name="parameters" element="tns:authenticateAccount" />
  </wsdl:message>
  <wsdl:message name="APIException">
    <wsdl:part name="APIException" element="tns:APIException" />
  </wsdl:message>
  <wsdl:message name="authenticateAccountResponse">
    <wsdl:part name="parameters" element="tns:authenticateAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="ThirdPartyCustomerAuthenticateService">
    <wsdl:operation name="authenticateAccount">
      <wsdl:input name="authenticateAccount" message="tns:authenticateAccount" />
      <wsdl:output name="authenticateAccountResponse" message="tns:authenticateAccountResponse" />
      <wsdl:fault name="APIException" message="tns:APIException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="thirdPartyAuthenticateSoapBinding" type="tns:ThirdPartyCustomerAuthenticateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticateAccount">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="authenticateAccount">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="authenticateAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="thirdPartyAuthenticate">
    <wsdl:port name="ThirdPartyCustomerAuthenticateServiceImplPort" binding="tns:thirdPartyAuthenticateSoapBinding">
      <soap:address location="https://api.tab.com.au/tabapi/services/thirdPartyAuthenticate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>